<div class="card">
  <h2>{{user.name}}</h2>
  <div class="error">{{error}}</div>
  <img ng-src="{{user.avatar_url}}" title="{{user.name}}" />
  <p>
    <span ng-show="user.location">{{user.location}}</span><br/>
    <a href="{{user.blog}}" ng-show="user.blog" target="_blank">{{user.blog}}</a><br/>
    <a href="https://twitter.com/{{user.twitter_username}}" ng-show="user.twitter_username" target="_blank">@{{user.twitter_username}}</a>
  </p>
  Order:
  <select ng-model="repoSortOrder">
    <option value="+name">Name</option>
    <option value="-stargazers_count">Stars</option>
    <option value="+language">Language</option>
  </select>
</div>

<table class="table">
  <thead>
  <tr>
    <th>Name</th>
    <th>Stars</th>
    <th>Language</th>
  </tr>
  </thead>
  <tbody>
  <tr ng-repeat="repo in repos | orderBy:repoSortOrder">
    <td><a href="#!/repo/{{user.login}}/{{repo.name}}">{{repo.name}}</a></td>
    <td>{{repo.stargazers_count | number}}</td>
    <td>{{repo.language}}</td>
  </tr>
  </tbody>
</table>

<p><a href="#!/main">Search</a></p>